*{
    background-color: lightsalmon;
    font-family:Arial, Helvetica, sans-serif;
    width: 900px;
}
#wrap{
    border: 6px dotted #000;
    text-align: center;
    font-style: italic;
    color: #000;
    background-color: #fff;
    margin-left:200px;
}
h1 {
    border-bottom: 6px dotted #000;
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 40px;
    word-spacing: normal;
    font-weight: bold;
    background-color: #fff;

}
#text{
    font-style: normal;
    text-align: left;
    font-size: 16px;
    width: 800px;
    padding: 10px;
    word-spacing: 3px;
    background-color: #fff;
}
ul {
    list-style: none;
    background-color: #fff;
    width: 800px;
    margin-top: -20px;
   

}
li {
    background-color: #fff;
     width: 850px;
     word-spacing: 3px;

}
ul li::first-letter{
    text-transform: capitalize;
    font-size: 23px;
    font-weight: 500;
    color: maroon;
}
p ,a {
    background-color: #fff;
    font-size: 12px;
}
a{
    text-decoration: none;
    letter-spacing: 1.5px;
    color: rgb(56, 52, 245);
}